@media screen and ( max-width: 1770px){
    .fixed_banner{
        width: 8%;
        height: 330px;
    }
}
@media screen and ( max-width: 1600px){
    .fixed_banner{
        width: 6%;
        height: 270px;
    }
}
@media (max-width: 1366px){
    .paper_boxes{
        width: 100%;
    }
}
@media screen and ( max-width: 1633px){
    .list_in{
        width: 100%;
    }
}
@media screen and ( max-width: 1199px){
    .search_form {
        right: 195px;
        top: 30px;
    }
    .news_box .big_name{
        padding: 7px 15px 7px 10px;
    }
    .bread{
        color: #000;
        padding: 15px 15px 0 15px ;
    }
    .head_menu .nav>li>a {
        margin: 10px 10px;
    }
    .item_text .text {
        min-width: 227px;
    }
    .pier_box{
        padding: 20px 0;
        width: 100%;
    }
    .box_info {
        position: relative;
        left: 50%;
        margin-left: -215px;
    }
    .mini_list li{
        width: 100%;
    }
    .mini_map {
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        -o-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);
    }
    .mapper {
        padding: 70px 0 70px 0;
    }

    .list_in {
        padding: 0 20px;
    }
    .list_in .col-md-x-save{
        width: 33.33%;
    }
    .gerbImg{
        right: 0;
    }
    .special_views{
        right: 115px;
    }
    .call_box{
        right: 200px;
    }
    .lang{
        right: 300px;
        left: -25px;
    }
    .searchBox{
        right: 160px;
    }
    .speakersBox li{
        width: 474px;
    }
    #bannerSlider .sliderImg{
        height: 400px;
    }
    #bannerSlider .owl-pagination{
        right: 70px;
    }

    .link_list li ul.dropdown-menu{
        min-width: 230px;
    }
}
@media screen and ( max-width: 1078px){
    #bannerSlider .sliderImg{
        height: 300px;
    }
}
@media screen and ( max-width: 1024px){
    .head:before{
        display: none;
    }
}
@media screen and ( max-width: 991px){
    .search_form {
        right: 22px;
        top: 30px;
    }
    .event_box{
        margin-left: -140px;
        left: 50%;
    }
    .sphere {
        margin-left: -87px;
    }
    .head_menu .navbar-nav {
        /*float: none;*/
    }
    .head_menu .navbar-toggle .icon-bar {
        background-color: black;
    }
    .head_menu .navbar-nav>li {
        float: none;
        /*text-align: center;*/
    }
    .head_menu .dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
        text-decoration: underline;
        color: #262626;
        background-color: transparent;
        display: inline-block;
    }
    .head_menu .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .navbar-toggle {
        /*display: block;*/
    }
    .call_box {
        text-align: left;
        right: inherit;
        left: 15px;
    }
    .special_views {
        right: 25px;
        margin-bottom: 95px;
    }
    .lang {
        right: 120px;
        left: auto;
    }
    .searchBox{
        right: 80px;
    }
    #myModalSearch .modal-content .form_search .input-group{
        width: 70%;
    }
    #myModalSearch .modal-content .close{
        margin: -10px 35px 0 0;
    }
    .head_menu .navbar {
        border-bottom: 1px solid #000;
        border-top: 1px solid #000;
        padding-top: 25px;
        margin-bottom: 20px;
        border-radius: 0 !important;
    }
    .head_menu{
        border-bottom: 1px solid transparent;
    }
    .head_menu .navbar-nav {
        width: 100%;
    }
    .head_menu .nav>li>a {
        display: inline-block;
    }
    .head_menu .dropdown-menu>li>a {
        display: inline-block;
    }
    .item_text .text{
        display: none;
    }
    .mini_slide .carousel-fade .carousel-inner .item img{
        max-width: 277px;
        position: relative;
        left: 50%;
        margin-left: -139px;
    }
    .mini_slide .carousel-fade .carousel-inner .item {
        text-align: center;
    }
    .mini_inform{
        padding-left: 15px;
    }
    .part_pade {
        display: block;
        padding: 0;
    }
    .faq_list li {
        padding: 0 15px !important;
    }
    .mini_list {
        margin-bottom: 15px;
    }
    .footer {
        padding: 70px 0 30px 0;
    }
    .foot_text {
        padding: 20px 50px 30px 0;
    }
    .list_in .col-md-x-save{
        width: 50%;
    }
    .active_menu li:nth-child(3n + 1) a{
        border-left: 1px solid transparent;
    }
    .active_menu li:nth-child(3n + 1){
        clear: both;
    }
    .active_menu li {
        float: left;
        width: 33.333%;
    }
    .interactive_services li {
        width: 33.333%;
    }
    .interactive_services li:nth-child(4n + 1) {
        clear: none;
    }
    .interactive_services li:nth-child(3n + 1) {
        clear: both;
    }
    .charts_list li {
        width: 33.333%;
        margin-bottom: 25px;
    }
    .charts_list li:nth-child(3n + 1) {
        clear: both;
    }
    .answer_list {
        padding: 20px 0 0 0;
    }
    .news_box .tab-content{
        margin-bottom: 20px;
    }
    .footer .head_menu .navbar{
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
    }
    .footer .head_menu{
        border-color: transparent;
    }
    .gerbImg{
        display: none;
    }
    /***************************************/
    .formBox>.form-group {
        text-align: center;
        margin: 0 auto 0 auto;
    }
    .formBox label{
        text-align: left;
    }
    .speakersBox li{
        margin: 7px 15px;
        width: 500px;
    }
    .speakersBox li:nth-child(2n){
        margin:7px 15px;
    }
    .faqBoxText span{
        padding:0 15px;
    }
    .speakers_attention{
        margin:-20px 15px 20px 15px;
    }
    .conf_rightText span br{
        display: none;
    }
    .conf_boxWidth{
        width: auto;
    }
    .conf_boxWidth2{
        width: auto;
    }
    .conf_content{
        padding:0 15px;
    }
    .conf_content2{
        padding:0 15px;
    }
    /*******************************************/
    .nopadeleft.just_mini_list{
        padding: 0 15px;
    }
    .white_menu, .mini_slide{
        width: 50%;
        float: left;
    }
}
@media screen and ( max-width: 767px){
    .for_form{
        padding-bottom: 45px;
    }
    .search_form {
        right: 0;
        top: 65px;
        width: 100%;
    }
    .for_form_search .search_box{
        width: 90% !important;
        margin: 0 5% 0 0 !important;
        padding: 4px 40px 5px 15px !important;
    }
    .search_btn {
        right: 7% !important;
    }
    ::-webkit-input-placeholder {color:#A3A3A3; font-family: "OpenSansRegular";}
    ::-moz-placeholder          {color:#A3A3A3; font-family: "OpenSansRegular";}/* Firefox 19+ */
    :-moz-placeholder           {color:#A3A3A3; font-family: "OpenSansRegular";}/* Firefox 18- */
    :-ms-input-placeholder      {color:#A3A3A3; font-family: "OpenSansRegular";}
    .crive{
        width: 100%;
        padding-left: 15px;
    }
    .head_menu .nav>li>a {
        display: inline-block;
    }
    .head_menu .navbar {
        padding-top: 0;
        padding-bottom: 0;
        border-top: 1px solid transparent;
    }
    .img_block{
        text-align: center;
        margin: 5px 0 20px 0;
    }
    .pro_news{
        padding-left: 15px;
    }
    .jqvmap-label{
        display: none !important;
    }
    .foot_text{
        padding: 5px 20px 20px 20px;
    }
    .list_in .col-md-x-save{
        width: 100%;
    }
    .call_box{
        display: none;
    }
    #myModalSearch .modal-content .close{
        font-size: 35px;
        margin: -5px 10px 0 0;
    }
    .lang {
        right: inherit;
        left: 50%;
        margin-left: -90px;
        top: 20px;
    }
    .special_views {
        right: inherit;
        left: 50%;
        margin-left: 60px;
        text-align: left;
        top: 0;
        margin-bottom: 20px;
    }
    .searchBox {
        right: inherit;
        top: 25px;
        left: 50%;
        text-align: left;
        margin: 0 0 0 15px;
    }
    .wrapper .specialViewArea{
        right: inherit;
        left: -155px;
    }
    .head_menu .navbar{
        display: none;
    }
    .head_menu{
        border-bottom: 1px solid #1f1f1f;
        padding-bottom: 25px;
    }
    .mob_call_box, .my_toggle{
        display: block;
    }
    .news_list{
        padding: 35px 0 0 0;
    }
    .headphone{
        top: inherit;
        bottom: 60px;
    }
    .interactive_services li {
        width: 50%;
    }
    .interactive_services li:nth-child(3n + 1) {
        clear: none;
    }
    .interactive_services li:nth-child(2n + 1) {
        clear: both;
    }
    .charts_list li {
        width: 50%;
    }
    .charts_list li:nth-child(3n + 1) {
        clear: none;
    }
    .charts_list li:nth-child(2n + 1) {
        clear: both;
    }
    .fix_list {
        left: inherit;
        top: inherit;
        margin-top: 0;
        right: 0;
        bottom: 0;
    }
    .fix_list li .scream img{
        -webkit-transform: scale(0.7);
        -moz-transform: scale(0.7);
        -o-transform: scale(0.7);
        -ms-transform: scale(0.7);
        transform: scale(0.7);
    }
    .fix_list li .scream{
        width: 50px;
        height: 60px;
    }
    .scream{
        background-color: #273c9b;
    }
    .scream2{
        background-color: #de9a5d;
    }
    .foot_text.text_left {
        padding: 20px 35px 35px 15px;
    }
    .fix_list li {
        display: inline-block;
    }
    .way_list {
        text-align: left;
    }
    .way_list li:first-child {
        display: block;
    }
    /*****************conference********************/
    .formBox>.form-group{
        text-align: inherit;
        margin: 0 15px;
    }
    .formBox label{
        width: 100%;
        display: block;
    }
    .formBox .sendBtn{
        text-align: center;
    }
    .formBox input{
        width: 100%;
        margin: 5px 0 10px 0;
    }
    #bannerSlider .sliderImg{
        height: 250px;
    }
    #bannerSlider .owl-pagination{
        right: 40px;
    }
    .formBox .has_style{
        width: 100%;
    }
    .formBox .form-control{
        width: 100%;
    }
    .field-check_box input{
        width: auto !important;
    }
    .field-check_box label{
        text-align: center !important;
    }
}
@media screen and ( max-width: 626px){
    .white_menu{
        width: 50% !important;
        display: table;
        margin: 0 auto;
    }
    .white_menu, .mini_slide{
        width: 100%;
        float: none;
    }
}
@media screen and ( max-width: 587px){
    .just_mini_list{
        display: none;
    }
    .search_btn {
        right: 9% !important;
    }
    .active_menu li{
        width: 50%;
    }
    .active_menu li:nth-child(3n + 1){
        clear: none;
    }
    .active_menu li:last-child a{
        border-right: 1px solid #a5a5a5;
    }
    .active_menu li:nth-child(3n + 1) a{
        border-left: 1px solid #a5a5a5;
    }
    .active_menu li:nth-child(2n + 1){
        clear: both;
    }
    .active_menu li:nth-child(2n + 1) a{
        border-left: 1px solid transparent;
    }
    .interactive_services li {
        width: 100%;
    }
    .interactive_services li:nth-child(3n + 1) {
        clear: none;
    }
    .interactive_services li:nth-child(2n + 1) {
        clear: both;
    }
    .slide_article {
        width: 100%;
        position: relative;
        left: 0;
        margin: 0 0 0 0;
    }
    #myModalSearch .modal-content .form_search .input-group{
        width: 100%;
    }
    /*****************************************/
    .speakersBox li{
        width:400px;
    }
    .speakersBox li .speakersImg{
        width: 130px;
        height:130px;
        margin:0 0 0 15px;
    }
    .speakersBox li .speakersText{
        padding: 0 30px 0 165px;
    }
    .faqBoxText{
        padding:60px 0 20px 0;
    }
}
@media screen and ( max-width: 550px){
    #bannerSlider .sliderImg{
        height: 200px;
    }
    .white_menu{
        width: 60% !important;
        display: table;
        margin: 0 auto;
    }
}
@media screen and ( max-width: 500px){
    #bannerSlider .sliderImg{
        display: none;
    }
    .white_menu{
        width: 70% !important;
        display: table;
        margin: 0 auto;
    }
}
@media screen and ( max-width: 450px){
    .crive{
        width: 100%;
        margin-bottom: 20px;
    }
    .charts_list li {
        width: 100%;
    }
    .speakersBox li{
        width: 270px;
        min-height: 150px;
    }
    .speakersBox li .speakersImg{
        display: none;
    }
    .speakersBox li .speakersText{
        padding: 0 15px;
    }
    .speakersBox li .speakBox{
        height:150px;
    }
}
@media screen and ( max-width: 350px){
    .faqBoxText{
        padding:20px 0 20px 0;
    }
    .white_menu{
        width: 100% !important;
        display: table;
        margin: 0 auto;
    }
}